/* Vistoria.css */

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o contêiner principal */
.vistoria-container {
  top: 20px;
  bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

/* Estilos para o cabeçalho */
.vistoria-header h1 {
  font-size: 36px;
  margin-bottom: 12px;
  color: #4481EB;
}

.vistoria-header h3 {
  font-size: 24px;
  color: #4481EB;
}

.vistoria-header p {
  font-size: 18px;
  color: #4481EB;
}

/* Estilos para o conteúdo */
.vistoria-content {
  margin: 20px 0;
}

.captured-image {
  max-width: 100%;
  border: 2px solid #007bff;
  border-radius: 8px;
  margin-top: 20px;
}

.object-detected {
  font-size: 24px;
  margin-top: 20px;
  color: #007bff;
}

.webcam {
  max-width: 100%;
  border: 2px solid #007bff;
  border-radius: 8px;
}

.capture-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.capture-button:hover {
  background-color: #0056b3;
}

/* Estilos para o botão de próxima etapa */
.vistoria-button button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.vistoria-button button:hover {
  background-color: #0056b3;
}
